.header {
    display: flex;
    align-items: center;
}

.menuList {
    padding: 0;
    align-self: flex-end;
    margin-left: auto;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 4;
}

.image {
    height: auto;
    width: 15%;
}

.menuItem {
    height: auto;
    font-size: 2rem;
    padding: 20px;
}
